article section.page h1:first-of-type {
    text-transform: none;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 2.0rem;
}

ul li {
  list-style-type: disc;
}

ul ul li {
  list-style-type: square;
}

ul ul ul li {
  list-style-type: square;
}

header {
  background-color: #428bca;
  color: #fff;
}

body {
  color: #404040
}

html {
  font-family: 'Segoe UI', sans-serif;
}

header nav.shortcuts li a:active, header nav.shortcuts li a:focus, header nav.shortcuts li a:hover {
    background-color: #428bff;
}
/* p {
  margin-top: -0.5em;
} */
